*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: navy;
    color: white;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.reset{

    font-size: 20px;
    margin-bottom: 20px;
    height: 50px;
}
.container span{
    font-size: 200px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.increase, .decrease{
    height: 150px;
    width: 150px;
    font-size: 70px;
}
